@import url("/home/nyc/.cache/wal/colors-waybar.css");

* {
  font-size: 1rem;
  font-family: "NotoSansM NFP";
  /* color: @color7; */
}

window#waybar {
  all: unset;
}

tooltip {
  background: alpha(@background, 0.9);
}

/* ===== waybar ===== */
.modules-left,
.modules-center,
.modules-right {
  padding: 6px;
  background: alpha(@background, 0.8);
  border-bottom: 1px solid alpha(@color9, 0.9);
}

.modules-left {
  margin-left: 12rem;
  padding-left: 1.4rem;
  border-bottom-left-radius: 18px;
}

.modules-center {
  padding-left: 1rem;
  padding-right: 1rem;
}

.modules-right {
  margin-right: 12rem;
  padding-right: 1.4rem;
  border-bottom-right-radius: 18px;
}
/* ===== waybar end ===== */

/* ===== modules ===== */
#cpu,
#memory,
#temperature,
#idle_inhibitor,
#disk,
#custom-pacman {
  padding: 0px 6px;
  color: @color7;
}

#mpris,
#tray,
#clock,
#pulseaudio,
#pulseaudio#microphone,
#network,
#battery,
#bluetooth,
#keyboard-state,
#custom-notification,
#custom-notification-center,
#custom-ycal,
#privacy,
#submap {
  padding: 0px 6px;
  transition: all 0.3s ease;
  color: @color7;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#custom-notification-center:hover,
#custom-ycal:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#disk:hover,
#pulseaudio#microphone:hover,
#pulseaudio:hover,
#keyboard-state:hover,
#idle_inhibitor:hover,
#privacy:hover,
#submap:hover {
  transition: all 0.3s ease;
  color: @color9;
}

/* ===== groups and expand ===== */
#group-expand,
#group-expand#tray {
  padding: 0px 6px;
  transition: all 0.3s ease;
}
#custom-expand,
#custom-tray {
  padding: 0px 8px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  color: alpha(@foreground, 0.4);
}
#custom-endpoint {
  padding: 0px 8px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  color: alpha(@foreground, 0.2);
}
/* ===== groups and expand ===== */

/* ===== tray ===== */
#tray menu * {
  font-family: "NotoSans NF";
  transition: all 0.5s ease-in;
}

#tray menu separator {
  padding: 4px;
  transition: all 0.3s ease;
}
/* ===== tray ===== */

/* ===== battery ===== */
#battery.charging {
  color: #26a65b;
}
#battery.warning:not(.charging) {
  color: #ffbe61;
}
#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* ===== battery ===== */

/* ===== workspaces ===== */
#workspaces {
  padding: 0px 6px;
}
#workspaces button {
  all: unset;
  padding: 0px 4px;
  transition: all 0.2s ease-in;
  color: @color6;
}
#workspaces button:hover {
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  color: alpha(@color9, 0.6);
}
#workspaces button.active {
  border: none;
  font-weight: 900;
  color: @color7;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
